name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-golang:
    name: Test on Go ${{ matrix.go }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        os:
          # NOTE: Non-linux systems uses more billable minutes.
          # Enable them only if they are strictly required.
          # - windows-latest
          # - macos-latest
          - ubuntu-latest
        go:
          - '1.18'
          - '1.19'
          - '1.20'
          - '1.21'
          - '1.22'
          - '1.23'

    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }}

      - name: Lint code
        run: |
          make lint

      - name: Validate code
        run: |
          make check

      - name: Run tests
        run: |
          make test
